body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

section {
    background-color: black;
    color: white;
}

li {
    list-style: none;
    padding: 20px;
    text-align: center;
}

img {
    width: 300px;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: white;
    cursor: crosshair;
}

a:hover {
    font-size: 40px;
    color: yellow;
}
